
body {top:300px;
      bottom:300px;
      height:600px;
  
  background-image: url("img.png");
   background-repeat: no-repeat;
   background-size:1000px;
   background-position:right;
   border: 10px solid darkblue;
   border-width:100px;
  padding: 100px;
  font-size:100%;
}
h1 {
  color: blue;
}
p {font-family:"Times New Roman", Times, serif;
   font-size: 200%;
  color: navy;
  top:300px;
      bottom:300px;
 
} 
p1{font-family:"Times New Roman", Times, serif;
   color: navy;
    font-size: 200%;
   
}
p2{font-family:"Times New Roman", Times, serif;
   color: navy;
    font-size: 50%;
   
}
